body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.main-container {
  flex: 1;
  display: flex;
}

.middle-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-panel,
.right-panel {
  width: 100px;
  display: flex;
  align-items: center;
}

.image-viewer {
  flex: 1;
  display: flex;
}

.renaming-form {
  height: 200px;
  display: flex;
  font-size: 20px;
}

.renaming-form input {
  font-size: 20px;
}

.arrow {
  flex: 1;
  cursor: pointer;
}

.left-arrow {
  transform: rotate(180deg);
}

.right-arrow {
}

.text-input-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-container {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-name-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px 10px;
}

.rename-button {
  font-size: 20px;
  outline: none;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.rename-button:active,
.rename-button:hover {
  background: #d2d2d2;
}

img {
    width: 100%;
    height: 100%;
}